.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 20px;
    box-shadow: lightgrey 0px 2px 15px;
    z-index: 9;
}
.header h1{
    padding: 5px;
}
.Header a{
    color: var(--offBlack)
}
.Header-nav{
    display: flex;
    gap: 15px;
}