:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(0 104 74);
  --greenDark: rgb(0 89 63);
  --lightgray: rgb(193 199 198);
  --darkGray: rgb(136 147 151);
  --blue: rgb(4 152 236);
  --strongRed: rgb(151,6,6);
  --brightRed: rgb(219 48 48);
  --veryLightRed: rgb(255 205 199);
  --offWhiteRed: rgb(255 234 229);
  --offBlack: rgb(0 30 43)
}

input{
  outline: 0;
}
textarea{
  outline: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: inherit
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label{
  font-weight: bold;
  color: var(--darkGray);
}
.submitButton {
  margin-top: 10px;
  display: flex;
  color: white;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green);
  cursor: pointer;
  transition: 
    background-color 0.25s,
    color 0.25s;
    align-self: stretch;
    justify-content: center;
}
.submitButton:disabled{
  border: 1px solid var(--lightgray);
  color: var(--lightgray);
  background-color: white;
}
.submitButton:enabled:hover {
  background-color: var(--greenDark);
}
.formContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}