.CommentBox{
    display: flex;
    align-items: stretch;
}
.CommentBox textarea{
    border: 0;
    border-bottom: 1px solid var(--lightgray);
    resize: none;
}
.CommentBox textarea:focus{
    border-bottom: 2px solid black;
}